<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>信息填写</title>
    <link href="https://cdn.bootcss.com/bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <input type="text" id="brand_name" value="test">
    <form class="form-horizontal">
        <fieldset>
            <div id="legend" class="">
                <legend class="">表单名</legend>
            </div>

            <div class="control-group">

                
                <label class="control-label">品牌名称</label>
                <div class="controls">
                    <input id="brand_name" type="text" placeholder="品牌名称" class="input-xlarge search-query">
                    <p class="help-block">随意字符</p>
                </div>

            </div>

            <div class="control-group">

                <label class="control-label" for="input01">品牌简称</label>
                <div class="controls">
                    <input id="short_name" type="text" placeholder="品牌简称" class="input-xlarge">
                    <p class="help-block">随意字符</p>
                </div>
            </div>
            <div class="control-group">

                <label class="control-label" for="input01">场地位置</label>
                <div class="controls">
                    <input id="address" type="text" placeholder="场地位置" class="input-xlarge">
                    <p class="help-block">随意字符</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">服务类型</label>
                <div class="controls">
                    <label class="radio inline">
                        <input type="radio" value="科学" checked="checked" name="type">科学
                    </label>
                    <label class="radio inline">
                        <input type="radio" value="运动" name="type">运动
                    </label>
                    <label class="radio inline">
                        <input type="radio" value="艺术" name="type">艺术
                    </label>
                    <label class="radio inline">
                        <input type="radio" value="看顾" name="type">看顾
                    </label>
                    <label class="radio inline">
                        <input type="radio" value="其他" name="type">其他
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">具体leaf</label>
                <div class="controls">
                    <input id="leaf" type="text" placeholder="具体leaf" class="input-xlarge">
                    <p class="help-block">leaf</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">上传logo</label>
                <div class="controls">
                    <input class="input-file" id="fileInput" type="file">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">成立时间</label>
                <div class="controls">
                    <input id="found_date" type="text" placeholder="成立时间" class="input-xlarge">
                    <p class="help-block">随意字符</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">一句话介绍</label>
                <div class="controls">
                    <input id="onepunchline" type="text" placeholder="placeholder" class="input-xlarge">
                    <p class="help-block">随意字符</p>
                </div>
            </div>

            <div class="control-group">

                <label class="control-label">初心故事</label>
                <div class="controls">
                    <div class="textarea">
                        <textarea id="story" type="" class=""> </textarea>
                    </div>
                </div>
            </div>


            <div class="control-group">
                <label class="control-label">适应年龄</label>
                <div class="controls">
                    <label class="checkbox inline">
                        <input type="checkbox" value="1">2岁以下
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" value="2">2~6岁
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" value="3">6~8岁
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" value="4">8~12岁
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" value="5">其他
                    </label>
                </div>

            </div>

            <div class="control-group">

                <label class="control-label">活动描述</label>
                <div class="controls">
                    <div class="textarea">
                        <textarea id="descript" type="" class=""> </textarea>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">服务时间</label>

                <div class="controls">
                    <label class="checkbox inline">
                        <input type="checkbox" value="1"> 1日
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" value="2"> 2日
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" value="3"> 3日
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" value="3"> 4日
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" value="3"> 5日
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" value="3"> 6日
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" value="3"> 7日
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" value="3"> 8日
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" value="3"> 9日
                    </label>
                    <label class="checkbox inline">
                        <input type="checkbox" value="3"> 10日
                    </label>
                </div>

            </div>

        </fieldset>
    </form>
    <!-- <button type="button" class="btn btn-success" id="reset">reset</button> -->
    <!-- <div id="test" style="background-color: aqua;border: 2px solid #eee;" > this. is button</div> -->
    <button type="button" class="btn btn-success" id="submit">提交</button>
</body>
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>

<script src="https://cdn.bootcss.com/bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script>

$(document).ready(function(){
    $("#submit").click(function(e){
        e.preventDefault();
        // console.log($('input[name="type"]:checked').val());
        var brand_name = $('#brand_name').val();
        var short_name = $('#short_name').val();
        var address = $('#address').val();
        var service_type = $('input[name="type"]:checked').val();
        var service_leaf = $('#leaf').val();
        var found_date = $('#found_date').val();
        var onepunchline = $('#onepunchline').val();
        var difference = $('#difference').val();
        var story = $('#story').val();
        var description = $('#description').val();
        var isPaid = $('#isPaid').val();
        var festival = $('#festival').val();
        
        var data = {
            provider : {
                brand_name : brand_name,
                short_name : short_name,
                address : address,
                service_type : service_type,
                service_leaf : service_leaf,
                logo : "",
                found_date : found_date,
                onepunchline : onepunchline,
                difference : [],
                story : story,
                description : description,
                isPaid : 0,
                festival : festival,
            }
        }

        $.ajax({
            method: "POST",
            url:'/provider/push',
            dataType: 'json',
            cache: false,
            data: JSON.stringify(data),
            contentType: "application/json,charset=utf-8",
            Accpt: "application/json,charset=utf-8",
            success: function(res){
              console.log(res)
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest,textStatus,errorThrown)
            }
        })
        
    })
});


</script>

</html>