<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商家信息填写</title>
    <link href="https://cdn.bootcss.com/bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <form class="form-horizontal">
        <fieldset>
            <div id="legend" class="">
                <legend class="">商家信息填写</legend>
            </div>

            <div class="control-group">

                
                <label class="control-label">品牌名称</label>
                <div class="controls">
                    <input id="brand_name" type="text" placeholder="品牌名称" class="input-xlarge search-query">
                    <p class="help-block">随意字符</p>
                </div>

            </div>

            <div class="control-group">

                <label class="control-label" for="input01">品牌简称</label>
                <div class="controls">
                    <input id="short_name" type="text" placeholder="品牌简称" class="input-xlarge">
                    <p class="help-block">随意字符</p>
                </div>
            </div>
            <div class="control-group">

                <label class="control-label" for="input01">场地位置</label>
                <div class="controls">
                    <input id="address" type="text" placeholder="场地位置" class="input-xlarge">
                    <p class="help-block">随意字符</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">服务类型</label>
                <div class="controls">
                    <label class="radio inline">
                        <input type="radio" value="科学" checked="checked" name="type">科学
                    </label>
                    <label class="radio inline">
                        <input type="radio" value="运动" name="type">运动
                    </label>
                    <label class="radio inline">
                        <input type="radio" value="艺术" name="type">艺术
                    </label>
                    <label class="radio inline">
                        <input type="radio" value="看顾" name="type">看顾
                    </label>
                    <label class="radio inline">
                        <input type="radio" value="其他" name="type">其他
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">具体leaf</label>
                <div class="controls">
                    <input id="leaf" type="text" placeholder="具体leaf" class="input-xlarge">
                    <p class="help-block">leaf</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">上传logo</label>
                <div class="controls">
                    <input class="input-file" id="fileInput" type="file">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">成立时间</label>
                <div class="controls">
                    <input id="found_date" type="text" placeholder="成立时间" class="input-xlarge">
                    <p class="help-block">随意字符</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Text input-->
                <label class="control-label" for="inputage">适应年龄</label>
                <div class="controls">
                  <input id="age" type="text" placeholder="5-6，8-10" class="input-xlarge">
                  <p class="help-block">开始年龄结束年龄</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="input01">一句话介绍</label>
                <div class="controls">
                    <input id="onepunchline" type="text" placeholder="placeholder" class="input-xlarge">
                    <p class="help-block">随意字符</p>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">与众不同的点</label>
                <div class="controls">
                    <input id="difference" type="text" placeholder="逗号隔开" class="input-xlarge">
                    <p class="help-block">随意字符</p>
                </div>
            </div>
            <div class="control-group">

                <label class="control-label">初心故事</label>
                <div class="controls">
                    <div class="textarea">
                        <textarea id="story" type="" class=""> </textarea>
                    </div>
                </div>
            </div>

            <div class="control-group">

                <label class="control-label">活动描述</label>
                <div class="controls">
                    <div class="textarea">
                        <textarea id="description" type="" class=""> </textarea>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">是否为星耀商家</label>
                <div class="controls">
                    <label class="radio inline">
                        <input type="radio" value="0" checked="checked" name="isPaid">否
                    </label>
                    <label class="radio inline">
                        <input type="radio" value="1" name="isPaid">是
                    </label>

                </div>
            </div>
            <!-- <div class="control-group">
                <label class="control-label">是否预约</label>
                <div class="controls">
                    <label class="radio inline">
                        <input type="radio" value="0" name="appointment" checked="checked"> 否
                    </label>
                    <label class="radio inline">
                        <input type="radio" value="1" name="appointment"> 是
                    </label>
                </div>
            </div> -->
            <div class="control-group">

                <label class="control-label">其他</label>
                <div class="controls">
                    <div class="textarea">
                        <textarea id="other" type="text" class=""> </textarea>
                    </div>
                </div>
            </div>
            <!-- <div class="control-group">

                <label class="control-label">六一活动特殊描述</label>
                <div class="controls">
                    <div class="textarea">
                        <textarea id="festival" type="text" class=""> </textarea>
                    </div>
                </div>
            </div> -->

        </fieldset>
    </form>
    <!-- <button type="button" class="btn btn-success" id="reset">reset</button> -->
    <!-- <div id="test" style="background-color: aqua;border: 2px solid #eee;" > this. is button</div> -->
    <button type="button" class="btn btn-success" id="submit">提交</button>
</body>
<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>

<script src="https://cdn.bootcss.com/bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script>

$(document).ready(function(){
    // function setCookie(value) {
    //     document.cookie=id+ "=" +value;
    // }
    $("#submit").click(function(e){
        e.preventDefault();
        console.log($('input[name="type"]:checked').val());
        var brand_name = $('#brand_name').val();
        var short_name = $('#short_name').val();
        var address = $('#address').val();
        var service_type = $('input[name="type"]:checked').val();
        var service_leaf = $('#leaf').val();
        var found_date = $('#found_date').val();
        var onepunchline = $('#onepunchline').val();
        var difference = $('#difference').val().split(/[,|，|\s]/);
        var story = $('#story').val();
        var description = $('#description').val();
        var isPaid = $('input[name="isPaid"]:checked').val() - 0;
        // var appointment = $('input[name="appointment"]:checked').val() -0;
        // var festival = $('#festival').val();
        var other = $('#other').val();
        var age = $('#age').val().split(/[,|，|\s]/);
        
        var data = {
            provider : {
                age: age,
                brand_name : brand_name,
                short_name : short_name,
                address : address,
                service_type : service_type,
                service_leaf : service_leaf,
                logo : "",
                found_date : found_date,
                onepunchline : onepunchline,
                difference : difference,
                story : story,
                description : description,
                isPaid : isPaid,
                other : other,
                // need_appointment: appointment,
            }
        }
        console.log(data);
        // console.log(JSON.stringify(data));
        $.ajax({
            method: "POST",
            url:'/provider/push',
            dataType: 'json',
            cache: false,
            data: JSON.stringify(data),
            contentType: "application/json,charset=utf-8",
            Accpt: "application/json,charset=utf-8",
            success: function(res){
              console.log(res);
              if(res.status === "ok") {
                  document.cookie="id=" +res.result.provider_id+";path=/";
                  window.open('/page/activity/'+res.result.provider_id);

              } else {
                  alert('写不进去，重写');
              }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest,textStatus,errorThrown)
            }
        })

    })
});


</script>

</html>